#table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
th {
  text-align: left;
}
#header {
  margin: auto;
  width: 40%;
  padding-top: 10px;
}
#btnSave {
  margin-top: 20px;
  padding: 5px;
}
#title {
  padding-top: 10px;
  text-align: center;
}
#body {
  padding-top: 150px;
}
#control {
  margin-top: 50px;
}
#left {
  float: left;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
#right {
  width: 80%;
  float: right;
  display: flex;
  flex-direction: column;
}

#down-left {
  margin-top: 12px;
}
#down-right {
  margin-top: 8px;
}