<form [formGroup]="loadForm" (ngSubmit)="getCode()">
  <div class="container">
    <label for="code"><b>CODE NUMBER: </b></label>
    <input type="text" placeholder="Enter code" name="code" formControlName="CodeOrder" required><br>
    <button type="submit" id="btnCheck">Auto Check</button>
  </div>
</form>
<div *ngIf="tableDatas.length>0" >
  <table style="width:100%" id="table">
    <tr>
      <th>ID</th>
      <th>Tracking Number</th>
      <th>Status Package</th> 
      <th>Time Delivery</th>
    </tr>
    <tr *ngFor = "let tableData of tableDatas">
      <td>{{tableData.ID}}</td>
      <td>{{tableData.trackNum}}</td>
      <td>{{tableData.staPack}}</td>
      <td>{{tableData.tiemDeli}}</td>
    </tr>  
    <tr *ngIf="result">
      <td>{{result.ID}}</td>
      <td>{{result.trackNum}}</td>
      <td>{{resultv.staPack}}</td>
      <td>{{result.tiemDeli}}</td>
    </tr>  
  </table>
</div>
