.red{
  background-color: red
}

.orange{
  background-color: orange
}

.green{
  background-color: green
}
#table, th, td {
  width: 100%;
  margin-top: 30px;
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  font-size: 10;
  font-family: Arial;
}
#stRow {
  background-color: lightseagreen;
}
.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
  min-width: 500px;
  min-height: 25px;
  border: 2px solid #B0C1D9;
  margin:auto;
  width: 50%;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}
#right{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#inbody{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#pageChange{
  text-align: center;
}

/* #header {
  margin: auto;
  width: 50%;
}

#btnCheck {
  margin-top: 20px;
  padding: 5px;
}
#title {
  padding-top: 10px;
  text-align: center;
}
#input {
  float: left;
}
#belongInput {
  float: right;
}
#body {
  padding-top: 150px;
}
#control {
  margin-top: 50px;
}
#left {
  float: left;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
#right {
  float: right;
  display: flex;
  flex-direction: column;
}
#down-left {
  margin-top: 12px;
}
#down-right {
  margin-top: 8px;
}
#editOne {
  margin-top: 5px;
}
#dropbox {
  margin-top: 12px;
  margin-left: 5px;
}
#code {
  padding: 2px;
}
#btnSave {
  margin-bottom: 20px;
  padding: 5px;
} */